p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.cols {display: flex; }

th {
  text-align: center !important;
  background-color: #0F2E3D;
  color: white;
}

tr {
  text-align: center !important;
}
table {
  border-collapse: collapse;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover {background-color: ;}



#lawr {
  background-color: red;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

d-article a{
  color: #0F2E3D;
}


blockquote {
  background: #f9f9f9;
  border-left: 8px solid  #0F2E3D !important;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color:  #0F2E3D;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  color: black!important;
  font-size: 15px !important;
}

.material-icons {
  vertical-align: middle !important;
  line-height: 10px !important;
  font-size: 15px !important;
}





div.ex2 {
  padding-left: 70px;
}

.d-title p{
   margin-bottom: 0px;
}


.indent-2 {
  margin-left: 2em;
}


.indent-4 {
  margin-left: 4em;
}

.box {
  padding: 1em;
  background: white;
  color: black;
  border: 2px solid #0F2E3D;
  border-radius: 10px;
}
.center1 {
  text-align: center;
  font-size: 20px;
  color: #0F2E3D;
}